export CS_ENV=""
export ALGOTRACKER_BASE_DIR=""
export ALGOTRACKER_OUTPUT_DIR=""
export ALGOTRACKER_PAGE_DIR=""

# Should either be "pushshift" or "praw"
export ALGOTRACKER_POST_SOURCE=""

export AIRBRAKE_ENABLED=""
export AIRBRAKE_API_KEY=""
export AIRBRAKE_PROJECT_ID=""
export AIRBRAKE_ENVIRONMENT=""
export AIRBRAKE_BASE_URL=""

# Python's logging values: 10 for DEBUG, 20 for INFO, and upward
export ALGOTRACKER_LOG_LEVEL="10"

source venv/bin/activate
