<meta property="og:url"                content="https://covid-algotracker.citizensandtech.org/" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="COVID-19 Reddit Algo-Tracker" />
<meta property="og:description"        content="How do Reddit’s popularity algorithms promote information about COVID-19?" />
<meta property="og:image"              content="assets/preview-image.png" />
<meta name="twitter:card"              content="summary" />
<meta name="twitter:creator"           content="@natematias" />
